*{
margin: 0;
padding: 0;
}

html, body {
height: 100%;
font-size: 100%;
font-family: sans-serif; 
background: black;
overflow: auto;
}

a, p a {
text-decoration: none;
}

p {
font-size: 0.9em;
line-height: 1.5em;
margin-bottom: 0.8em;
}

li {
list-style: none;
font-size: 0.9em;
line-height: 1.3em;
margin-bottom: 0.5em;
}

h1 {
font-size: 1.4em; 
margin-bottom: 0.5em;
color: white;
}

h2 {
font-size: 1.1em;
margin-bottom: 0.5em;
color: white;
}

h3 {
font-size: 1.002em;
margin-bottom: 0.5em;
}

.clear {clear: both;}

div#pagewrap {
height: auto;
min-height: 100%;
width: 960px;
position: relative;
margin: 0 auto;
background: #93ac93;
border-left: 3px solid white;
border-right: 3px solid white;        
}

div#header{
	background: url("image/header.png") no-repeat;
	height: 262px;
	width: 100%;
	display: block;
	/*position: absolute;*/
	top: 0px;
}

div#logo {
display: block;
position: relative;
top: 20px;
left: 20px;
width: 260px; 
height:113px; 
z-index: 1;
}

.urlImg { 
width: 260px; 
height:113px; 
display:block; 
background-image: url('image/logo.png'); 
} 

div#nav {
font-family: 'Black Ops One', cursive;
position: relative;
left: 10px;
top: 75px;
z-index: 2;
}

div#nav li {
float: left;
display: block;
padding: 0 1em 0 1em;
font-size: 1.3em;
color: white;
}

div#nav li a {
color: #e2e3db;
}

div#nav li a:hover, div#nav li a:active {
color: white;
}

div#main {
display: block;
/*position: absolute;
top: 260px;*/
padding: 0 1em 0 1em;
}

div#main p {
text-align:justif;
}

div#main li a {
color: #9C4211;
}

div#main li a:hover, div#main li a:active {
color: #FF5900;
}

div#main a {

color: #FF5900;
}

div#main a:hover, div#main a:active {
color: #D1C2B8;
}

div#photo{
display: block;
float: left;
width: 365px;
}
div#photo img{
display: inline-block;
width: 180px;
height: 180px:
}

div#intro {
display: block;
margin-left: 365px;
padding: 3em 2em 0 2em;
}

div#withouttabs {
display: none;
}

/*codes for tabs*/ 
      .tabs input[type=radio] {
          position: absolute;
          top: -9999px;
          left: -9999px;
      }
      .tabs {
        width: 900px;
        float: none;
        list-style: none;
        position: relative;
        padding: 0;
        margin: 0 auto;
      }
      .tabs li{
        float: left;
      }
      .tabs label {
          display: block;
          padding: 10px 20px;
          border-radius: 10px 10px 0 0;
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
          color: #5E5E5E;     
          font-size: 20px;
          font-weight: normal;
          font-family: sans-serif;
          background: #D1CB97;
          cursor: pointer;
          position: relative;
          top: 5px;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
      }
      .tabs label:hover {
        background: #D1CB97;
        top: 0;
      }
       
      [id^=tab]:checked + label {
        background: #EAE4AD;
        color: black;
        top: 0;
      }
       
      [id^=tab]:checked ~ [id^=tab-content] {
          display: block;
      }
      .tab-content{
        z-index: 2;
        display: none;
        text-align: left;
        width: 100%;
        font-size: 1em;
        font-family: trebuchet, sans-serif;
        line-height: 140%;
        background: #EAE4AD;
        padding: 15px;
        color: black;
        position: absolute;
        top: 37px;
        left: 0;
        box-sizing: border-box;
        -webkit-animation-duration: 0.5s;
        -o-animation-duration: 0.5s;
        -moz-animation-duration: 0.5s;
        animation-duration: 0.5s;
      }
/*END codes for tabs*/

/*codes for pastevents*/

#pastevents {
    height: auto; 
    width: 100%;
    margin: 0 auto 0 auto;  
    text-align: center;  
}

#pastevents .box {
	display: inline-block;
	position: relative;
	float: left;
	width:100px; 
	height:100px;
	margin: 5px;
	overflow:hidden;
}

#pastevents .box img{
	position: absolute;
	width:100px; 
	height:100px;
	left:0;
}

#pastevents .box .caption {  
        background-color: white; 
        opacity: 0;
        position: absolute;  
        color: black;  
        z-index: 100;  
        -webkit-transition: all 300ms ease-in-out;  
        -moz-transition: all 300ms ease-in-out;  
        -o-transition: all 300ms ease-in-out;  
        -ms-transition: all 300ms ease-in-out;  
        transition: all 300ms ease-in-out;   
        width: 100px;  
        height: 100px;
        top: 0px;
        left: 0px;  
        text-align: center; 
        line-height: 100px;
           
    } 
    
#pastevents .box .caption p {
font-family: trebuchet, sans-serif;
font-size: 0.75em;
line-height: 1.8em;
display: inline-block;vertical-align: middle;
}
    
#pastevents .box:hover .caption { 
-webkit-opacity: 0.8;
-moz-opacity: 0.8;
opacity: 0.8; 
        /*-moz-transform: translateY(100%);  
        -o-transform: translateY(100%);  
        -webkit-transform: translateY(100%);  
        transform: translateY(100%);  */
    }    
/*END codes for pastevents*/

#social {
	display: block;
	height: 380px; 
    width: 100%;
    margin: 0 auto 0 auto;    
}

#social .feed {
	display: inline-block;
	position: relative;
	float: left;
	width:293px; 
	height:320px;
	margin: 5px;
	overflow:hidden;
}

div#footer {
display: block;
background-color: #666666;
height: 35px;
width: 100%;
position: absolute;
bottom: 0px;
padding-top: 0.5em; 
color: #e2e3db;
font-family: arial black, sans-serif;
text-align: center;
}

.credit{text-align: center; font-size: 0.7em; color: grey; font-family: sans-serif;}
.credit a{color: darkgrey; }



/* Media Query*/

/*for 980px or less*/
@media screen and (max-width: 980px) {
	
	h1{font-size: 3vw;}

div#pagewrap {
	height: auto;
	min-height: 100%;
	width: 100%;
	border-left: none;
	border-right: none;
}

div#header{	
	
	background-size: 100% auto; 
	height: auto;
	min-height: 100%;
	width: 100%;	
	top: 0;
	left: 0;
	padding: 0 0 10% 0;
	overflow: visible;
}

div#logo {
	display: block;
	top: 3vh;
	left: 2vw;
	width: 30%;
	height: auto; }
	
div#logo img{
	display: block;
	max-width: 100%;
	max-height: 100%;
	}
	
	
div#nav {	
	display: block;
	top: auto;
	left: auto;
	padding-top: 7%;
}

div#nav li {
	float: none;
	display: inline-block;
	padding: 0 2% 0 2%;
	font-size: 2.3vw;
}

div#main {
display: block;
position: relative;
padding: 1%;
overflow: hidden;
}
	
div#photo{
display: inline-block;
float: none;
width: 37%;
margin: 0 auto;
}
div#photo img{
display: inline-block;
width: 48%;
height: auto:
}

div#intro {
width: 55%;
display: inline-block;
margin-left: 0;
padding: 2% 0 0 2%;
vertical-align: top;
}

div#withtabs{
display: none;
}

div#withouttabs {
display: block;
}

#withouttabs .ice{
float: left;
width: 30vw;
height: auto;
padding: 1%;
} 

#withouttabs .hqlogo{
float: right;
width: 20vw;
height: auto;
max-height: 300px;
max-width: 180px;
padding: 1%;
} 

#withouttabs .kevin{
float: left;
width: auto;
height: 50vh;
max-height: 200px;
max-width: 171px;
padding: 1%;
} 

#withouttabs .long{
float: right;
position: relative;
top: 2em;
right: auto;
display: block;
margin: 0 auto;
width: 50%;
height: auto;
padding: 0 2% 0 1%;
}

#social {
	height: auto; 
}
div#footer {
height: auto;
width: 100%;
position: relative;
bottom: auto;
padding: 1em 0 1em 0; 
color: #e2e3db;
font-family: arial black, sans-serif;
text-align: center;
}
	
}


/*for 980px or less landscape*/
@media screen and (max-width: 980px) and (orientation: landscape) {
	
	h1{font-size: 3vw;}

div#pagewrap {
	height: auto;
	min-height: 100%;
	width: 100%;
	border-left: none;
	border-right: none;
}

div#header{	
	
	background-size: 100% auto; 
	height: auto;
	min-height: 100%;
	width: 100%;	
	top: 0;
	left: 0;
	padding: 0 0 10% 0;
	overflow: visible;
}

div#logo {
	display: block;
	top: 3vh;
	left: 2vw;
	width: 30%;
	height: auto; }
	
div#logo img{
	display: block;
	max-width: 100%;
	max-height: 100%;
	}
	
	
div#nav {	
	display: block;
	top: auto;
	left: auto;
	padding-top: 7%;
}

div#nav li {
	float: none;
	display: inline-block;
	padding: 0 2% 0 2%;
	font-size: 2.3vw;
}

div#main {
display: block;
position: relative;
top: -18vh;
padding: 1%;
overflow: hidden;
}
	
div#photo{
display: inline-block;
float: none;
width: 37%;
margin: 0 auto;
}
div#photo img{
display: inline-block;
width: 48%;
height: auto:
}

div#intro {
width: 55%;
display: inline-block;
margin-left: 0;
padding: 2% 0 0 2%;
vertical-align: top;
}

div#withtabs{
display: none;
}

div#withouttabs {
display: block;
}

#withouttabs .ice{
float: left;
width: 30vw;
height: auto;
padding: 1%;
} 

#withouttabs .hqlogo{
float: right;
width: 20vw;
height: auto;
max-height: 300px;
max-width: 180px;
padding: 1%;
} 

#withouttabs .kevin{
float: left;
width: auto;
height: 50vh;
max-height: 200px;
max-width: 171px;
padding: 1%;
} 

#withouttabs .long{
float: right;
position: relative;
top: 2em;
right: auto;
display: block;
margin: 0 auto;
width: 50%;
height: auto;
padding: 0 2% 0 1%;
}

#social {
	height: auto; 
}
div#footer {
height: auto;
width: 100%;
position: relative;
bottom: auto;
padding: 1em 0 1em 0; 
color: #e2e3db;
font-family: arial black, sans-serif;
text-align: center;
}
	
}

/*for 980px or less portrait*/
@media screen and (max-width: 980px) and (orientation: portrait) {

h1{font-size: 3vw;}

div#pagewrap {
	height: auto;
	min-height: 100%;
	width: 100%;
	border-left: none;
	border-right: none;
}

div#header{	
	
	background-size: 100% auto; 
	height: auto;
	min-height: 100%;
	width: 100%;	
	top: 0;
	left: 0;
	padding: 0 0 10% 0;
	overflow: visible;
}

div#logo {
	display: block;
	top: 3vh;
	left: 2vw;
	width: 30%;
	height: auto; }
	
div#logo img{
	display: block;
	max-width: 100%;
	max-height: 100%;
	}
	
	
div#nav {	
	display: block;
	top: auto;
	left: auto;
	padding-top: 7%;
}

div#nav li {
	float: none;
	display: inline-block;
	padding: 0 2% 0 2%;
	font-size: 2.3vw;
}

div#main {
display: block;
position: relative;
top: -5vh;
padding: 1%;
overflow: hidden;
}
	
div#photo{
display: inline-block;
float: none;
width: 37%;
margin: 0 auto;
}
div#photo img{
display: inline-block;
width: 48%;
height: auto:
}

div#intro {
width: 55%;
display: inline-block;
margin-left: 0;
padding: 2% 0 0 2%;
vertical-align: top;
}

div#withtabs{
display: none;
}

div#withouttabs {
display: block;
}

#withouttabs .ice{
float: left;
width: 40vw;
height: auto;
padding: 1%;
} 

#withouttabs .hqlogo{
float: right;
width: 20vw;
height: auto;
max-height: 300px;
max-width: 180px;
padding: 1%;
} 

#withouttabs .kevin{
float: left;
width: auto;
height: 50vh;
max-height: 200px;
max-width: 171px;
padding: 1%;
} 

#withouttabs .long{
float: right;
position: relative;
top: 2em;
right: auto;
display: block;
margin: 0 auto;
width: 50%;
height: auto;
padding: 0 2% 0 1%;
}

#social {
	height: auto; 
}
div#footer {
height: auto;
width: 100%;
position: relative;
bottom: auto;
padding: 1em 0 1em 0; 
color: #e2e3db;
font-family: arial black, sans-serif;
text-align: center;
}
	
}
}

/*for 500px or less*/
@media screen and (max-width: 500px) {
	
	h1{font-size: 1.2em}
	
div#header{
	background-image: none; 
	padding: 0;
	overflow: hidden;
	height: 50%;
	min-height: none;
	background-color: none;
}

div#logo {
	position: ;
	background-color: #666666;
	top: 0;
	left: auto;
	width: 100%;
	height: auto;
	padding: 2.5vh 0 2.5vh 0;
	}

div#logo img{
	width: 50%;
	height: auto;
	margin: 0 auto; 
	}
	
div#nav {
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0 0 0 1%;
}

div#nav li {
	display: inline-block;
	width: 45vw;
	background-color: #666666;
	border-radius: 0.5em;
	padding: 0;
	margin: 1vw 0.5vw 1vw 0.5vw;
	font-size: 1.2em;
	color: #e2e3db;
	text-align: center;
}

div#main {
top: 0;
padding: 1%;
overflow: hidden;
}

div#photo{
width: 100%;
}

div#photo img{
display: inline-block;
width: 23.65%;
height: auto:
}

div#intro {
width: 100%;
padding: 0;
text-align: center;
}

#withouttabs .hqlogo{
float: right;
width: 35vw;
height: auto;
max-height: 100%;
max-width: 100%
} 

#withouttabs .long{
float: none;
position: relative;
top: 0;

display: block;
margin: 0 auto;
width:95%;
height: auto;
padding: 0 0 2% 0;
}

}